body { font-family: Montserrat; background-color: rgb(243, 171, 89); background-image: radial-gradient(circle, rgb(255, 179, 92) 0%, rgb(255, 175, 83) 70%, rgb(255, 173, 80) 100%); }
h1 { font-size: 32px; font-weight: 400; padding:0; margin:0;}
h2 { font-size: 24px; font-weight: 400; padding:0; margin:0;}
h3 { font-size: 18px; font-weight: 400; padding:0; margin:0;}
h4 { font-size: 18px; font-weight: 300; padding:0; margin:0;}

.scroll-link {  }

#menu { width:100px; top:0; position: fixed; float:left; background-color: #2f2f2f; height: 100%; transition: width .35s ease-in-out; z-index:100000;}
#menu:hover { width:250px; }
#menu:hover .navbar li { width:250px; opacity: 1; transition: width .7s ease-in-out, opacity .8s ease-in-out; }
#menu:hover #name { opacity:1; font-size: 16px; }
#menu:hover .menu_hint { opacity: 0; left: 300px;}
#name { opacity:0; transition: opacity 0.5s ease-in-out, font-size 0.5s ease-in-out; margin-top: 10px; margin-bottom: 10px;}

.menu_hint { font-family: 'Open Sans Condensed', sans-serif; position: fixed; font-size: 18px; color:black; top: 1%; left: 120px; background: white; padding: 10px 20px 10px 20px; text-align: center; border-radius: 5px; transition: opacity 0.3s ease-in-out, left 0.3s ease-in}
.menu_hint.invisible { opacity: 0; left: 300px;}

#user-icon { transition: font-size 0.5s linear;}
#info { font-size: 5px; opacity: 0; transition: opacity 3s ease-in;}

.navbar-collapse { padding:0; }

.navbar { border: none; }
.navbar .navbar-nav { display: inline-block; float: none; vertical-align: top; }
.navbar .navbar-brand { height:0; padding: 0; }
.navbar-header {display: inline-block;}
.navbar li { float:none; width: 100%; text-align: center; transition: width .2s ease-in-out, opacity .2s ease-in-out; opacity: 0; }
.navbar li a { background: #2f2f2f; padding:10px; color: #FA9828; transition: box-shadow .3s ease-in-out, color .2s ease-in-out; box-shadow: inset 0px 0px 0px 0px rgba(210,242,255,1);}
.navbar li a:hover { background: #2f2f2f; box-shadow: inset -250px 0px 0px 0px rgb(255, 179, 92); color: #2f2f2f; }
.navbar li a:active { background: #2f2f2f; box-shadow: inset -250px 0px 0px 0px rgb(255, 179, 92); color: #2f2f2f; }
.navbar li a:focus { background: #2f2f2f; box-shadow: inset -250px 0px 0px 0px rgb(255, 179, 92); color: #2f2f2f; }

#name_main {font-size: 45px;color: #2f2f2f;z-index: 10;text-align: center;position: relative;}
#name_main .description {font-size: 22px;color: #2f2f2f;}
#name_main .first {display:inline; color: rgba(47,47,47,0); transition: color 1s cubic-bezier(1,0,.86,.01);}
#name_main .second {display:inline; color: rgba(47,47,47,0); transition: color 1.5s cubic-bezier(1,0,.86,.01);}
#name_main .third {display:inline; color: rgba(47,47,47,0); transition: color 2s cubic-bezier(1,0,.86,.01);}
#name_main.active .first {display:inline; color: rgba(47,47,47,0.9);}
#name_main.active .second {display:inline; color: rgba(47,47,47,0.9);}
#name_main.active .third {display:inline; color: rgba(47,47,47,0.9);}

#cloud {position:relative; transition: background 4s ease-in-out; left: 50%; transform: translateX(-50%); margin-top:20%;}

.triangle {width: 0;height: 0;border-style: solid;border-width: 30px 30px 0 30px;border-color: transparent transparent transparent transparent; position: absolute; bottom: 2%; transform: translateY(-50%); left: 50%; transform: translateX(-50%); animation-duration: 1s; animation-name: blinkk; animation-iteration-count: infinite; animation-direction: alternate; transition: border-color 1s ease-in-out;}
.triangle.no-anim { border-color: transparent transparent transparent transparent; animation-duration: 0s;}
.circle { -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.57);-moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.57);box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.57);font-size: 26px; background: rgba(47,47,47,1); color:rgba(234,142,37,0.8); border-radius: 50%;width: 150px;height: 150px; position:relative; left: 50%; transform: translateX(-50%); margin-top: 100px; transition: background 0.25s ease-in-out;}
.circle:hover { background: rgba(250,152,40,1); color: rgba(47,47,47,0.9); text-decoration: none;}

.content_text { text-align: center; position: relative; animation-duration: 0s; margin-top: 310px; z-index: -10;}
.grey_bar { width:100%; position: relative; background: #2f2f2f; text-align: center;}
.grey_bar .bar_text {margin-top:30px; margin-bottom: 30px; position: relative; width: 50%; color: #D2D3CF; text-align: center; display:inline-block;}

#skills-text { font-size: 32px; margin-top:85px; text-align: center; margin-bottom: 85px;}
.skills { text-align:center; padding-left:100px; padding-right:100px; }

.row {margin:0;}

.row-skills { margin-top:55px;}

.button-more-info { margin-top: 30px; padding-top:5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; background: #2f2f2f; color: #EEEEEE; font-size:15px; transition: background 0.2s ease-in, color 0.1s ease-in-out;}
.button-more-info:hover { background: #FA9828; color: #2f2f2f; }

.content_text2 { text-align: center; position: relative; animation-duration: 0s; margin-top: 85px; z-index: -10;}

.examples_text { font-size:32px; color: #FA9828; }
.img_examples {  width:360px; height:240px; border: 1px solid #FA9828; transition: border 0.2s ease-in-out, transform 0.3s cubic-bezier(.49,1.13,.85,.74); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);}
.img_examples:hover { border: 0px solid #3f3f3f; transform: rotate(-1deg); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

#contact_content { color: #2f2f2f; text-align: center;}

a:hover {text-decoration: none;}
@keyframes blinkk { from { border-color: transparent transparent transparent transparent;}to {border-color: #383838 transparent transparent transparent;}}
div {}


/* KOMÓRKA START */


@media (min-device-width: 320px) 
  	and (max-device-width: 1000px) {

#menu{ width:0; top:0; position: fixed; float:left; background-color: #2f2f2f; height: 0; transition: width .35s ease-in-out; z-index:100000;}

#menu:hover { width:0; }
#menu:hover .navbar li { width:0; opacity: 0;}
#menu:hover #name { opacity:0; font-size: 0; }
#menu:hover .menu_hint { opacity: 0; left: 0;}

#user-icon { transition: font-size 0s linear; opacity:0;}
#info { font-size: 5px; opacity: 0; transition: opacity 3s ease-in;}
.menu_hint { opacity:0;}
.menu_hint.invisible { opacity: 0; left: 300px;}
.navbar-collapse { padding:0; }

#name_main {font-size: 32px;color: #2f2f2f;z-index: 10;text-align: center;position: relative;}
#name_main .description {font-size: 16px;color: #2f2f2f;}

.content_text { text-align: center; position: relative; animation-duration: 0s; margin-top: 110px; z-index: -10;}
.grey_bar .bar_text {margin-top:30px; margin-bottom: 30px; position: relative; width: 80%; color: #D2D3CF; text-align: center; display:inline-block;}

#skills-text { font-size: 30px; margin-top:25px; text-align: center; margin-bottom: 0px;}
.skills { text-align:center; padding-left:30px; padding-right:30px; margin-bottom: 35px;}
.row-skills { margin-top:25px;}

.examples_text { font-size:22px; color: #FA9828; }
.img_examples { border: 1px solid #FA9828; width:220px; height:145px; transition: border 0.2s ease-in-out, transform 0.3s cubic-bezier(.49,1.13,.85,.74); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);}
.img_examples:hover { border: 0px solid #3f3f3f; transform: rotate(-1deg); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#contact_content { color: #2f2f2f; text-align: center;}
}
@media (min-device-width: 1001px) 
  	and (max-device-width: 1400px) {
  	.skills { text-align:center; padding-left:50px; padding-right:50px; }
}



/* END KOMÓRKA */


.display.block { display: block; }
.align.to-left{ text-align: left; }
.align.to-right{ text-align: right; }
.align.center { text-align: center; }

.bg.light-blue { background: #CCDBC9; }
.bg.orange { background: #FA9828; }
.bg.green { background: #12b41b; }
.bg.blue { background: #007bee; }
.bg.red { background: #c60000; }
.bg.light-black { background: #2f2f2f; }
.bg.light-light-black { background: #3f3f3f; }

.text.brackets { font-size: 170px; margin-top: -20px;}
.text.icon-lrg { font-size: 80px; }
.text.icon { font-size: 58px; }
.text.lrg { font-size: 32px; }
.text.big { font-size: 24px; }
.text.mid { font-size: 20px; }
.text.sml { font-size: 18px; }
.text.xsml { font-size: 16px; }
.text.xxsml { font-size: 15px; }
.text.tiny { font-size: 12px; }
.text.xtiny { font-size: 8px; }
.text.none { font-size: 0; }

.text.orange { color:#FA9828; }
.text.green { color: #12b41b; }
.text.blue { color: #007bee; }
.text.red { color: #c60000; }
.text.white { color: white; }
.text.light-black { color: #2f2f2f; }

.weight.fat { font-weight: 700; }
.weight.normal { font-weight: 400; }
.weight.light { font-weight: 300; }

.margin-left-300 { margin-left: 300px; }
.margin-left-200 { margin-left: 200px; }
.margin-left-150 { margin-left: 150px; }
.margin-left-120 { margin-left: 120px; }
.margin-left-100 { margin-left: 100px; }
.margin-left-85 { margin-left: 85px; }
.margin-left-65 { margin-left: 65px; }
.margin-left-55 { margin-left: 55px; }
.margin-left-45 { margin-left: 45px; }
.margin-left-35 { margin-left: 35px; }
.margin-left-25 { margin-left: 25px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-5 { margin-left: 5px; }

.margin-bottom-300 { margin-bottom: 300px; }
.margin-bottom-200 { margin-bottom: 200px; }
.margin-bottom-150 { margin-bottom: 150px; }
.margin-bottom-120 { margin-bottom: 120px; }
.margin-bottom-100 { margin-bottom: 100px; }
.margin-bottom-85 { margin-bottom: 85px; }
.margin-bottom-45 { margin-bottom: 45px; }
.margin-bottom-35 { margin-bottom: 35px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-5 { margin-bottom: 5px; }

.margin-top-300 { margin-top: 300px; }
.margin-top-200 { margin-top: 200px; }
.margin-top-150 { margin-top: 150px; }
.margin-top-120 { margin-top: 120px; }
.margin-top-100 { margin-top: 100px; }
.margin-top-85 { margin-top: 85px; }
.margin-top-45 { margin-top: 45px; }
.margin-top-35 { margin-top: 35px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-15 { margin-top: 10px; }
.margin-top-5 { margin-top: 5px; }

.margin-right-5 { margin-right: 5px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-25 { margin-right: 25px; }
.margin-right-35 { margin-right: 35px; }
.margin-right-45 { margin-right: 45px; }
.margin-right-85 { margin-right: 85px; }
.margin-right-100 { margin-right: 100px; }
.margin-right-120 { margin-right: 120px; }
.margin-right-150 { margin-right: 150px; }
.margin-right-200 { margin-right: 200px; }
.margin-right-300 { margin-right: 300px; }

.padding-5 { padding:5px; }
.padding-10 { padding:10px; }
.padding-15 { padding:15px; }
.padding-20 { padding:20px; }
.padding-25 { padding:25px; }
.padding-30 { padding:30px; }

.padding-top-25 { padding-top: 25px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-35 { padding-top: 35px; }
.padding-top-40 { padding-top: 40px; }
.padding-left-50 { padding-left:50px; }
.padding-right-50 { padding-right:50px; }
.padding-left-10 { padding-left:10px; }
.padding-right-10 { padding-right:10px; }
.padding-left-right-10 { padding-right:10px; padding-left:10px; }
.padding-left-right-20 { padding-right:20px; padding-left:20px; }
.padding-left-right-30 { padding-right:30px; padding-left:30px; }
.padding-left-right-40 { padding-right:40px; padding-left:40px; }
.padding-left-right-50 { padding-right:50px; padding-left:50px; }

.auto { width:auto; height: auto;}

.border.light-black { border:solid 1px #444444; }
.border.white { border:solid 1px white; }
.border.black { border:solid 1px black; }
.border.blue { border:solid 1px #007bee; }
.border.green { border:solid 1px #12b41b; }
.border.red { border:solid 1px #c60000; }

.board { width: 100%; text-align: center; }
.footer { width: 100%; padding-top: 15px; padding-bottom: 15px; }
.bar {width:100%; height: 50px; }

.opacity.visible { opacity:1; }
.opacity.half-visible { opacity:0.5; }

